 *{
	 padding: 0;
	 margin: 0;
}
 body {
	 background-color: rgb(187, 183, 179);
}
 header {
	 background-color: rgb(5, 5, 5);
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
	 padding: 40px;
	 color: rgb(250, 255, 255);
}
/* Designing the Nav*/
 nav li {
	 display: inline-block;
}
 li a {
	 text-decoration: none;
	 color: rgb(250, 250, 255);
	 align-content: space-between;
	 margin-right: 30px;
	 font-weight: 200;
}
 li a:hover {
	 color: rgb(175, 124, 13);
}
 main {
	 margin: 10px 20px;
}
 .icon img {
	 margin-right: 20px;
}
/* Style the .archives div*/
 .archives {
	 border: 1px solid #ccc;
	 border-radius: 10px;
	 padding: 10px;
	 width: 200px;
	 background-color: #af7b36;
	 margin-top: 10px;
}
/* Style the heading and list inside the .archives div */
 h3.archives{
	 font-size: 18px;
	 margin-top: 0;
}
 .archives ul {
	 list-style-type: none;
	 padding: 0;
}
 .archives ul li {
	 margin-bottom: 5px;
}
/* Style the links in the list */
 .archives a {
	 text-decoration: underline;
}
 .archives ul a {
	 color: rgb(7, 3, 240);
}
 .archives li a:hover {
	 color: #070707;
}
 .align {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-end;
	 margin-left: 200px;
}
 .search-bar {
	 display: flex;
	 align-items: center;
}
/* Style the search input field */
 #search-input {
	 padding: 10px;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 margin-right: 10px;
	 margin-bottom: 10px;
	 margin-top: 10px;
}
 .main-content h3 , p{
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
/*Style the blog title */
 .blog-title {
	 background-color: #a7722d;
	/* Set your desired background color here */
	 padding: 10px 10px;
	 margin: 0 300px 50px 300px;
	 border-radius: 20px;
}
 .blog-title h1 , p{
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 margin: 0;
}
 .date {
	 margin-left: 100px;
	 line-height: 30px;
	 font-style: oblique;
	 font-size: 25px;
	 text-decoration: underline;
	 display: flex;
	 flex-direction: column;
}
/*Style the first content*/
 .main-content {
	 margin-bottom: 30px;
}
 h2{
	 display: flex;
	 justify-content: center;
	 margin-bottom: 20px;
}
 .first-content-wrapper {
	 display: flex;
	 flex-direction: row;
	 justify-content:flex-start;
	 margin-right: 250px;
	 margin-left: 100px;
	/*max-width: 600px;
	 margin: 0 auto;
	*/
}
 .first-content-wrapper img {
	 margin-right: 30px;
	 margin-bottom: 50px;
}
 .first-content-wrapper p {
	 line-height: 25px;
	 font-size: 16px;
	 text-align: justify;
	 margin: 0;
	 padding: 0;
}
 .align-ingredients-instructions{
	 display: flex;
	 flex-direction: column;
	 margin-left: 15%;
}
 .ingredients {
	 margin-bottom: 80px;
	 line-height: 25px;
}
 .instructions {
	 line-height: 20px;
	 margin-bottom: 50px;
}
 .comment-section {
	 max-width: 500px;
	 padding: 50px;
	 margin: 0 auto;
	 margin-top: 50px;
}
 .comment-form {
	 margin-bottom: 20px;
}
 #comment-input {
	 width: 100%;
	 padding: 5px 10px 100px 5px;
	 margin-bottom: 10px;
}
 #submit-comment {
	 padding: 10px 20px;
	 background-color: #007bff;
	 color: #fff;
	 border: none;
}
 #submit-comment:hover {
	 background-color: #0056b3;
}
 .button-older-posts {
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
	 align-items: center;
	 text-decoration: none;
	 color: #1605f8;
	 font-weight: 100;
}
 .related-links {
	 display: flex;
	 flex-direction: row;
	 column-count: 3;
	 justify-content: space-around;
	 padding: 50px;
	 background-color: #4b4b49;
	 margin-top: 30px;
}
 .related-links ul {
	 list-style-type: none;
	 margin-bottom: 20px;
}
 .related-links ul li a {
	 color: #3e71e0;
	 text-decoration: underline;
	 line-height: 2;
}
 .related-links ul li a:hover{
	 color: #070707;
}
 .button-post {
	 display: flex;
	 color: #1605f8;
	 justify-content: center;
	 font-size: 25px;
}
 .button-post:hover {
	 color: #070707;
}
 .copyright {
	 background-color: rgb(32, 31, 31);
	 display: flex;
	 justify-content: center;
	 align-items: baseline;
	 color: aliceblue;
	 padding: 20px;
}
/* Media Query for Responsiveness */


 @media screen and (max-width: 768px) {
	 header {
		 padding: 20px;
	}
	 nav li {
		 display: block;
		 margin-right: 0;
		 margin-bottom: 10px;
	}
	 .icon img {
		 margin-right: 10px;
	}
	 .archives {
		 width: 80%;
	}
	 .align {
		 align-items: center;
		 margin-left: 0;
	}
	 #search-input {
		 width: 100%;
	}
	 .first-content-wrapper {
		 flex-direction: column;
		 margin: 0;
	}
	 .first-content-wrapper img {
		 margin-bottom: 20px;
		 margin: 0 auto;
	}
	 .first-content-wrapper p {
		 max-width: 900px;
	}
	 .blog-title {
		 margin: 0;
	}
}
 @media screen and (min-width: 769px) and (max-width: 1200px) {
	 header {
		 padding: 30px;
	}
	 li a {
		 margin-right: 20px;
	}
	 .align {
		 margin-left: 0;
	}
	 .blog-title {
		 margin: 0 100px 30px 100px;
	}
	 .first-content-wrapper {
		 margin: 0;
	}
	 .first-content-wrapper img {
		 margin-right: 30px;
	}
}
 
